# Ejercicio SQL murder
Murder_game/data/sql-murder-mystery.db
Murder_game/Ejercicio SQL Murder.pdf

# Ejercicio SQL island
SQL_island/sql_game_link.txt

# SQL Challenges
sql challenges/merdados_.csv
sql challenges/2021_padro.csv
sql challenges/semiestructurado.PNG
sql challenges/desestructurado.PNG
sql challenges/estructurado.PNG
sql challenges/consulados.json
sql challenges/altas_hospitalarias.json
.gitignore
sql challenges/xarxa_refugis_climatics_bna.json
sql challenges/consulados.csv
sql challenges/breaches.csv
sql challenges/salaries.csv
sql challenges/Wiki_respuesta.html
sql challenges/RottenTomatoes_lxml.html
sql challenges/RottenTomatoes.html
Matematicas navidad/Ejercicio IC.pdf
Matematicas navidad/Prueba_Inferencia.pdf
Matematicas navidad/Resumen_Intervalos_Confianza.pdf
