# Ejercicio SQL murder
Murder_game/data/sql-murder-mystery.db
Murder_game/Ejercicio SQL Murder.pdf

# Ejercicio SQL island
SQL_island/sql_game_link.txt
sql challenges/merdados_.csv
sql challenges/2021_padro.csv
